*{
    box-sizing: border-box;
}

/*general style for all elements*/
body {
    font-family: "press Start 2P", "consolas", sans-serif;
    font-size: 14px;
    background-color: #c8b5de;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    max-width: 100%; /* makes the image never bigger than the container */
    height: auto; /* does not stretch out the image */
    display: block; /* removes weird spacing */
}

/*style rules that will apply to ads ??????????????????????? ADD HOVER*/
[class^="ad"] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px solid #000;
    border-radius: 20px;
}

/*style for boxes*/
 .header > div, .hero > div, .ad, .body > div, .sidebar-feat, .footer {
    background: #fff;
    border: 5px solid #000;
    border-radius: 20px;
    padding: 10px;
}

/*basic grid container style - this would be for mobile -> stacking 1 column*/
.grid {
    height: auto;
    width: 90%;
    display: grid;
    margin: 20px auto;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "hero"
        "body"
        "ad"
        "footer";
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "brand brand"
    "nav tools";
}
.header .brand { grid-area: brand; }
.header .nav { grid-area: nav; }
.header .tools { grid-area: tools; }

.hero {
    grid-area: hero;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero-action";
}
.hero .hero-feat { grid-area: hero-feat; display: none; }
.hero .hero-action { grid-area: hero-action; }

.body {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "article-feat"
    "ad" 
    "article-list";
}
.body .article-feat { grid-area: article-feat; }
.body .ad-mob { grid-area: ad; }
.body .article-list { grid-area: article-list; }

.sidebar-feat {
    grid-area: sidebar-feat;
    display: none; /*sidebar is hidden on mobile*/
}
.footer {
    grid-area: footer;
}
/* hiding the desktop ad on mobile */
.ad-deskt {
    display: none;
    grid-area: ad-deskt;
}

/*media queries for larger screens*/
/*tablet*/
@media (min-width: 576px) {
.grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "header header header header header header"
        "hero hero hero hero hero hero"
        "ad    ad    ad    ad    ad    ad"
        "body  body  body  body  body  body"
        "sidebar-feat sidebar-feat sidebar-feat sidebar-feat sidebar-feat sidebar-feat"
        "footer footer footer footer footer footer";
    }
.header {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "brand nav tools";
}
.hero {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero-feat"
    "hero-action";
}
.hero .hero-feat { display: block; } /*now we see it*/
.body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "article-feat article-feat article-feat article-feat ad ad"
    "article-list article-list article-list article-list article-list article-list";
}
.sidebar-feat {
    display: block;
    display:grid;
    height:100%;
}
}
/*desktop*/
@media (min-width: 992px) {
.grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "header header header header header header header header header header header header"
        "hero hero hero hero hero hero hero hero ad-deskt ad-deskt ad-deskt ad-deskt"
        "body body body body body body body body sidebar-feat sidebar-feat sidebar-feat sidebar-feat"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
}
.hero {
    display:grid;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: 
    "hero-feat hero-action";
}
.hero .hero-feat { display: block;}

.ad-deskt {
    display: block;
    display: grid;
    grid-area: ad-deskt;
}
.ad-mob {
    display: none;
}
.body{
    grid-template-columns: 4fr 8fr;
    grid-template-areas:
    "article-feat article-list";
}
}