*{
    box-sizing: border-box;
}

/*general style for all elements*/
body {
    font-family: "press Start 2P", "consolas", sans-serif;
    font-size: 14px;
    background-color: #c8b5de;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%; /* makes the image never bigger than the container */
    height: auto; /* does not stretch out the image */
    display: block; /* removes weird spacing */
}

/*style rules that will apply to ads ??????????????????????? ADD HOVER*/
[class^="ad"] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*basic grid container style*/
.grid {
    height: auto;
    width: 90%;
    display: grid;
    margin: 20px auto;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "hero"
        "body"
        "ad"
        "footer";
}

/*style for boxes*/
 .header > div, .hero > div, .ad, .body > div, .sidebar-feat, .footer {
    background: #fff;
    border: 5px solid #000;
    border-radius: 25px;
    padding: 10px;
}
.grid .header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "brand brand"
    "nav tools";
}
.header .brand { grid-area: brand; }
.header .nav { grid-area: nav; }
.header .tools { grid-area: tools; }

.hero {
    grid-area: hero;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero-action";
}
.hero .hero-feat { grid-area: hero-feat; display: none; }
.hero .hero-action { grid-area: hero-action; }

.body {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "article-feat"
    "ad" 
    "article-list";
}
.body .article-feat { grid-area: article-feat; }
.body .ad-mob { grid-area: ad; }
.body .article-list { grid-area: article-list; }

.sidebar-feat {
    grid-area: sidebar-feat;
    display: none;
}
.footer {
    grid-area: footer;
}
/* hiding the desktop ad on mobile */
.ad-deskt {
    display: none;
}
/*media queries for larger screens*/
/*tablet*/
@media (min-width: 576px) {
.grid {
    grid-template-columns: repeat( 1fr;
    grid-template-areas:
        "header header"
        "hero hero"
        "body ad"
        "footer footer";
}